@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.colorful-gradient-background{
  background-image: linear-gradient(to right, #E8B865, #FEA0AF, #F6A4BE, #98C9E7);
  opacity: 0.3;
}